.sidebar {
  left: 0px;
  width: 20%;
  height: 100vh;
  float: left;
  border-width: 0 2px 0 0;
  border-style: solid;
  h1 {
    border-width: 0 0 2px 0;
    border-style: solid;
    align-items: center;
    font-size: 24px;
    font-family: 'Computer Modern', Cambria, Calibri, Georgia;
    font-style: italic;
    margin: 0;
    padding: 20px 0;
  }
  ul {
    padding: 0;
    li {
      padding: 5px 0;
    }
  }
}