.posts-wrapper {
  padding-left: calc(20% + 16px);
  padding-top: 8px;
}

.post-list {
  text-align: left;
  .post {
    margin-bottom: 16px;
  }
  div > p {
    margin: 0;
  }
}

form {
  text-align: left;
  label {
    width: 2.5rem;
    flex-shrink: 0;
  }
  #username-input-wrapper {
    display: flex;
    #username-input {
      width: 40%;
      display: flex;
      input {
        width: 100%;
        margin-right: 1rem;
      }
    }
  }
  #content-input {
    display: flex;
    textarea {
      width: 100%;
      margin-right: 1rem;
    }
  }
  #submit-wrapper {
    display: flex;
  }
}


.warning > ul {
  margin: 0;
  list-style-type: circle;
}
