.bbs-wrapper {
  padding: 8px 16px 16px;
}

.post-list {
  text-align: left;
  .post {
    margin-bottom: 16px;
  }
  div > p {
    margin: 0;
  }
}

.post-form {
  text-align: left;
  label {
    width: 2.5rem;
    flex-shrink: 0;
  }
  #username-input-wrapper {
    display: flex;
    #username-input {
      width: 40%;
      display: flex;
      input {
        width: 100%;
        margin-right: 1rem;
      }
    }
  }
  #content-input {
    display: flex;
    textarea {
      width: 100%;
      margin-right: 1rem;
    }
  }
  #submit-wrapper {
    display: flex;
  }
}

.warning {
  text-align: left;
  margin-left: 2.5rem;
  ul {
    margin: 0;
    li::before {
      content: "\2022";
      color: #FFFFFF;
      display: inline-block;
      width: 1rem;
      margin-left: -1rem;
    }
  }
}
