.endroll-wrapper {
  #blackout {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 1;
  }
  #you-found-the-hidden-command {
    height: 50vh;
    width: 100vw;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
  }
  #gap-after-message {
    height: 85vh;
  }
  h2 {
    margin: 15vh 0;
  }
  ul {
    padding: 0;
  }
  #gap-before-ellipsis {
    height: 15vh;
  }
  #gap-before-and-you {
    height: 15vh;
  }
  #and-you {
    margin-bottom: 100vh;
  }
  #thank-you-for-visiting {
    margin: 50vh 0;
  }
  #back-button {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0;
  }
}
