.top-links-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .link-wrapper {
    position: relative;
    left: 0;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    &[data-linkto="profile"] {
      background: rgba(255, 0, 0, 0.2);
    }
    &[data-linkto="histories"] {
      background: rgba(0, 255, 0, 0.2);
    }
    &[data-linkto="skills"] {
      background: rgba(0, 0, 255, 0.2);
    }
    &[data-linkto="archives"] {
      background: rgba(255, 255, 0, 0.2);
    }
    a {
      font-size: 2.5rem;
      margin-right: 30px;
    }

    // ホバーしたときにｼｭｯってなるやつ
    &::after {
      background: rgba(255, 255, 255, 0.3);
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      transform: scale(0, 1);
      transform-origin: left top;
      transition: .5s cubic-bezier(0.45, 0, 0.55, 1);
      z-index: -1;
    }
    &:hover::after {
      transform: scale(1.5, 1) skewX(20deg) translateX(-30%);
    }
  }
}
